.container {
  font-family: 'Exo', sans-serif;

  nav .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 8em;
    border: 1px solid black;
    background: grey;

    font-size: 120%;
    // color: white;

    .cmac-crest, .cmac-fist {
      height: 6.5em;
      margin: auto;
    }
    .cmac-fist {
    }
  }
}