// Remove white gap @ top of page
body {
  margin: 0;
}

.container {
  font-family: 'Exo', sans-serif;

  // Header & Nav Bar Styling
  header.title-bar, nav.button-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    width: 100%;
    position: fixed;
    z-index: 999999;

    .cmac-crest, .cmac-fist {
      height: 5em;
      margin: auto;
    }
  }

  header.title-bar {
    justify-content: space-between;
    border: 1px solid black;
    height: 6em;
    background: grey;
    margin-top: 0px;

    .dojo-title h1, h3, h5{
      // font-size: 180%;
      // color: white;
      text-align: center;
      margin: 0;
    }
  }

  nav.button-bar {
    justify-content: center;
    border: 1px solid black;
    height: 1.9em;
    margin-top: 6.1em;
    background: black;

    .navbutton {
      align-items: center;
      flex-grow: 1;
      text-decoration: none;
      min-width: 5.5em;
      height: 90%;
      text-align: center;
      // padding: auto;
      background: black;
      color: white;
      border: 1px solid white;
      // border-radius: 5px;
    }
    .navbutton.active {
      background: blue;
    }
   .navbutton.active:hover {
      background: red;
    }
    .navbutton:hover {
      background: grey;
      font-weight: bold;
      font-size: 105%;
    }
  }

  // Body Styling
  section.page-render {
    position: relative;
    padding-top: 9em;
    margin: auto;
    width: 90%;

    // Styling of Contact Action button on each page
    a.contactLink {
      border: 1px solid black;
      padding: 0.5em;
      background: grey;
      color: white;
      font-weight: bold;
    }

    // Program Page Styling
    .program {
      border: 1px solid black;
      padding: 0.5em;
      margin-top: 1em;
    }
    // About Page Styling
    .instructor {
      .profile {
        display: flex;
        justify-content: space-between;

        .profile-title {
          h2, h3 {
            font-weight: bold;
          }
          flex-wrap: wrap-reverse;
        }
        .profile-image {
          flex-wrap: wrap-reverse;
        }
      }

      .profile-blurb {
      }
    }

    // Contact Page Styling
    .contact-form {
      margin-top: 1em;
      border: 1px solid black;
      padding: 1em;

      .form-group {
        padding: 0.2em;
      }
    }

    .map {
      border: 1px solid black;
      width: '100vw';
      height: '100vh';
    }
  }
}